div {
	display: inline-block;
}

body {
	background-color: #DDDAD6;
}

.music-board {
	width: 80%;
	height: 960px;
	max-width: 960px;
	margin: 0 auto;
	background-color: #AE9C96;
}

.music-btn {
	height: 50px;
	width: 150px;
	background-color: #DDDAD6;
	margin: 3%;
	border-radius: 40px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
	
}

.slider-bg {
	height: 40px;
	width: 120px;
	background-color: #FFF;
	margin: 5px 15px;
	border-radius: 40px;
}

.slider {
	height: 30px;
	width: 30px;
	background-color: #A6D8DE;
	margin: 5px 8px;
	border-radius: 50%;
}


